# Copyright 2014 Intel Corporation
# Author: Jacob Keller
# License: GPLv2
[Unit]
Description=Aiaiai Email Dispatcher
OnFailure=send-mail-on-failure@%n.service

[Service]
User=aiaiai
EnvironmentFile=/home/aiaiai/git/aiaiai/email/systemd/aiaiai.conf
ExecStart=/home/aiaiai/git/aiaiai/email/aiaiai-email-dispatcher -v ${AIAIAI_QUEUE_DIR} ${AIAIAI_CONFIG_FILE}

[Install]
WantedBy=default.target
