# Copyright 2014 Intel Corporation
# Author: Jacob Keller
# License: GPLv2
[Unit]
Description=Send mail on failure of %i

[Service]
User=aiaiai
# You should customize the email address here
ExecStart=/home/aiaiai/git/aiaiai/systemd/send-mail-on-failure.sh %i root@localhost
